#!/usr/bin/env bash
# vim: et:ts=2:sw=2:tw=0:wm=0:fdm=marker:ft=bash

has git && has git_check_stash && git_check_stash

strict_env

PATH_add "./bin"
PATH_add "./scripts"

if has project_env_filename; then
  env_file=$(project_env_filename PTIME)
  echo "Trying to load $(realpath "${env_file:-}")"
  dotenv_if_exists "${env_file:-}"
fi

BUNDLE_PATH="$(has git && has git_worktree_base_dir && git_worktree_base_dir ".bundle" "vendor/bundle")"
export BUNDLE_PATH

# Add your local changes into the .envrc.local, which is a full blown .envrc file
# You can find the available commands here: https://direnv.net/man/direnv-stdlib.1.html
echo "Loading .envrc.local"
dotenv_if_exists "./.envrc.local"
