<div class="koeniz-footer">
  <div class="logo-gemeinde" style="">
    <a href="/link?external_url=https%3A%2F%2Fwww.koeniz.ch%2F" data-remote="true" style="">
      <img alt="ImpulsKöniz - TEST" src="/rails/active_storage/blobs/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBcHdEIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--d1e2e914acc0678df6d7f707044d38cd59d6a6ce/160526_logo.jpg" style="">
    </a>
  </div>
  <ul class="links">
    <li><a href="#impressum">Impressum</a></li>
    <li><a href="#datenschutz">Datenschutz</a></li>
    <li><a href="#nutzungsbedingungen">Nutzungsbedingungen</a></li>
    <li><a href="#kontakt">Kontakt</a></li>
  </ul>
  <div class="logo-decidim" style="margin-right: 0px;">
    <div class="background">
      <a rel="decidim noopener" href="https://decidim.org/" target="_blank" style="display: block;position: relative;left: 62px;top: 62px;">
        <img alt="Decidim-Logo" src="/powered-by-decidim-swiss-logo.png" />
      </a>
    </div>
  </div>
</div>