<div class="koeniz-footer">
  <div class="logo-gemeinde">
    <a href="https://www.koeniz.ch" target="_blank">
      <%= image_tag '/images/koeniz-logo-gemeinde.svg', alt: 'Gemeinde Köniz' %>
    </a>
  </div>
  <ul class="links">
    <li><a href="/pages/impressum">Impressum</a></li>
    <li><a href="/pages/terms-and-conditions">Nutzungsbedingungen und Datenschutz</a></li>
    <li><a href="/pages/kontakt">Kontakt</a></li>
  </ul>
  <div class="logo-decidim">
    <%= link_to 'https://decidim.swiss/' do %>
      <%= image_tag 'koeniz-decidim-swiss.svg', alt: 'Powered by Decidim.swiss' %>
    <% end %>
  </div>
</div>
