<div class="koeniz-footer">
  <div class="logo-gemeinde">
    <%= link_to 'https://www.koeniz.ch' do %>
      <%= image_tag '/images/koeniz-logo-gemeinde.svg', alt: 'Gemeinde Köniz' %>
    <% end %>
  </div>
  <ul class="links">
    <li><a href="#impressum">Impressum</a></li>
    <li><a href="#datenschutz">Datenschutz</a></li>
    <li><a href="#nutzungsbedingungen">Nutzungsbedingungen</a></li>
    <li><a href="#kontakt">Kontakt</a></li>
  </ul>
  <div class="logo-decidim">
    <%= link_to 'https://decidim.org/' do %>
      <%= image_tag 'koeniz-decidim-swiss.svg', alt: 'Powered by Decidim.swiss' %>
    <% end %>
  </div>
</div>
