// // Variables
//
// $primary: #ef604d;
// $primary-rgb: 239,96,77;
// $secondary: #599aa6;
// $secondary-rgb: 89,154,166;
// $success: #57d685;
// $success-rgb: 87,214,133;
// $warning: #ffae00;
// $warning-rgb: 255,174,0;
// $alert: #ec5840;
// $alert-rgb: 236,88,64;
//
// $proposals: #238ff7;
// $actions: #57d685;
// $debates: #fa6c96;
// $meetings: #fabc6c;
//
// $twitter: #55acee;
// $facebook: #3b5998;
// $google: #dd4b39;
//
// // background colors used in public diff views
// $color-addition: #e6ffed;
// $color-removal: #ffeef0;
//
// // Define custom properties as css color variables
//
// :root{
//   --primary: #{$primary};
//   --primary-rgb: #{$primary-rgb};
//   --secondary: #{$secondary};
//   --secondary-rgb: #{$secondary-rgb};
//   --success: #{$success};
//   --success-rgb: #{$success-rgb};
//   --warning: #{$warning};
//   --warning-rgb: #{$warning-rgb};
//   --alert: #{$alert};
//   --alert-rgb: #{$alert-rgb};
//   --proposals: #{$proposals};
//   --actions: #{$actions};
//   --debates: #{$debates};
//   --meetings: #{$meetings};
//   --twitter: #{$twitter};
//   --facebook: #{$facebook};
//   --google: #{$google};
// }

@import "decidim/application";

// MODIFICATIONS FOR DECIDIM-OCL

h1,
h2,
h3,
h4,
h5,
h6,
.button {
  font-family: "Source Sans Pro", Helvetica, Roboto, Arial, sans-serif !important;
}

.hero::after,
.highligted-content-banner::after,
.process-header__main::after,
.consultations-header__main::after {
  background-color: transparent !important;
}

.title-bar,
.navbar,
.off-canvas {
  background-color: initial;
  color: $black !important;

  a {
    color: inherit !important;
  }
  a:hover,
  a:focus {
    color: var(--primary) !important;
  }

  .close-button {
    color: $black !important;
  }

  .topbar__dropmenu.language-choose {
    left: 0;
    right: 0;
    padding-left: 0.5rem;
    background: $light-gray;
  }
}
.logo-wrapper span {
  color: inherit !important;
}
.off-canvas {
  background-color: $light-gray;
}
.topbar__search,
.topbar__search {
  input,
  input:focus {
    color: $black !important;
    background: inherit !important;

    &::placeholder {
      color: $dark-gray !important;
    }
  }
  .icon {
    color: $black !important;
  }
}

.main-nav__link a,
.card__link,
.author__name {
  color: var(--primary) !important;
}

.process_stats .process_stats-item .icon,
.white-button,
.white-button:hover,
.supports-list .author .author__name {
  color: var(--secondary);
}

.process-stats__data::after {
  border-left: 2px solid var(--primary);
}

.button.secondary {
  background-color: var(--secondary);

  &.clear {
    background-color: transparent;
    border: 1px solid var(--secondary);
    color: var(--secondary);
  }
}

.button.secondary:hover {
  background-color: rgba(var(--secondary-rgb), 0.75);
}

.button.secondary.hollow:hover {
  background-color: transparent;
  border-color: rgba(var(--secondary-rgb), 0.75);
  color: rgba(var(--secondary-rgb), 0.75);
}

.card--list__icon {
  fill: var(--primary);
}

.upcoming-events .card {
  a {
    color: var(--primary) !important;
  }
}

// By default, hide maps, and show them using JS
.google-map {
  display: none;
}

.address {
  flex-direction: column;

  .address__info {
    margin-bottom: 1em;
  }

  .map-info__content {
    padding: 0;
  }
}

.subhero {
  text-align: left;
}

// Color modifications
.accountability
  .categories
  .categories--group
  .card__link
  .category--line
  strong,
.text-info,
.conference-media .media-links li,
.conference-programme .programme-title,
.inline-filters button[data-toggle],
.hashtags__container span,
.mentions__container span,
.input__tag span,
.process_stats .process_stats-item .icon,
.white-button,
.white-button:hover,
.author__name {
  color: var(--secondary) !important;
}

.result-view .title .icon,
.orgchart .as-text {
  fill: var(--secondary) !important;
}

.card--list__titled-text .card--list__counter,
.floating-helper__icon,
.floating-helper__content-close,
.help-tooltip,
.opinion-toggle--meh:hover,
.opinion-toggle--meh:focus,
.opinion-toggle--meh.is-active {
  background-color: var(--secondary) !important;
}

.floating-helper__text,
.floating-helper__icon-big {
  color: var(--secondary) !important;
  background-color: rgba(var(--secondary-rgb), 0.1) !important;
}

.floating-helper__content {
  background-color: rgba(var(--secondary-rgb), 0.1) !important;
  border-color: var(--secondary) !important;
}

.help-tooltip {
  border-color: rgba(var(--secondary-rgb), 0.75) !important;
}

.inline-filters .dropdown-pane li:hover {
  background-color: rgba(var(--secondary-rgb), 0.05) !important;
}

a,
.link {
  color: var(--secondary);
}

a:hover,
.link:hover {
  color: rgba(var(--secondary-rgb), 0.75);
}

.leaflet-control-layers .leaflet-control-layers-toggle {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAQAAAADQ4RFAAACf0lEQVR4AY1UM3gkARTePdvdoTxXKc+qTl3aU5U6b2Kbkz3Gtq3Zw6ziLGNPzrYx7946Tr6/ee/XeCQ4D3ykPtL5tHno4n0d/h3+xfuWHGLX81cn7r0iTNzjr7LrlxCqPtkbTQEHeqOrTy4Yyt3VCi/IOB0v7rVC7q45Q3Gr5K6jt+3Gl5nCoDD4MtO+j96Wu8atmhGqcNGHObuf8OM/x3AMx38+4Z2sPqzCxRFK2aF2e5Jol56XTLyggAMTL56XOMoS1W4pOyjUcGGQdZxU6qRh7B9Zp+PfpOFlqt0zyDZckPi1ttmIp03jX8gyJ8a/PG2yutpS/Vol7peZIbZcKBAEEheEIAgFbDkz5H6Zrkm2hVWGiXKiF4Ycw0RWKdtC16Q7qe3X4iOMxruonzegJzWaXFrU9utOSsLUmrc0YjeWYjCW4PDMADElpJSSQ0vQvA1Tm6/JlKnqFs1EGyZiFCqnRZTEJJJiKRYzVYzJck2Rm6P4iH+cmSY0YzimYa8l0EtTODFWhcMIMVqdsI2uiTvKmTisIDHJ3od5GILVhBCarCfVRmo4uTjkhrhzkiBV7SsaqS+TzrzM1qpGGUFt28pIySQHR6h7F6KSwGWm97ay+Z+ZqMcEjEWebE7wxCSQwpkhJqoZA5ivCdZDjJepuJ9IQjGGUmuXJdBFUygxVqVsxFsLMbDe8ZbDYVCGKxs+W080max1hFCarCfV+C1KATwcnvE9gRRuMP2prdbWGowm1KB1y+zwMMENkM755cJ2yPDtqhTI6ED1M/82yIDtC/4j4BijjeObflpO9I9MwXTCsSX8jWAFeHr05WoLTJ5G8IQVS/7vwR6ohirYM7f6HzYpogfS3R2OAAAAAElFTkSuQmCC');
}

// END MODIFICATIONS
